* {
    font-family: 'Kumbh Sans';
    box-sizing: border-box;
    margin: 0px;
}

body {
    font-size: 18px;
    background-color: #19a2ae;
    background-image: url(images/bg-pattern-bottom.svg), url(images/bg-pattern-top.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -30% left -25%, bottom 50% right -30%;
    /* background-position: top 50% left -50%, bottom 150% right -50%; */
}



.card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}


.top {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;

    /* justify-content: ; */
}

.bottom div{
    padding: 20px;
}


.firsthalf {
    /* border:2px solid green; */
    height: 50%;    
    background-image: url(images/bg-pattern-card.svg);
    border-radius: 10px 10px 0px 0;
}

.secondhalf{
    /* position: relative; */
    text-align: center;
    height: 50%;  
    background-color: #ffffff;
    /* border: 2px solid red; */
}

.texts {
    padding-top: 22%;
}

.bottom {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid #ededed;
    text-align: center;

    /* border: 2px solid black; */
}

.profilepic {
    border-radius: 50%;
    border: 5px solid #ffffff;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;   
}

.bold {
    font-weight: 700;
    color: #2d3248 ;
}

.plain, .age {
    font-weight: 400;
    color: #6a6f81;
}

.top .plain {
    padding-top: 7px;
    font-size: 14px;
}

.bottom .plain {
    padding-top: 5px;
    font-size: 12px;
}

.age{
    padding-left: 3px;
}

.name-age *{
    display: inline-block;
}

@media (min-width: 414px){
    body{
        background-position: top -38% left 150%, bottom 38% right 150%;
        /* background-position: top -30% left -25%, bottom 50% right -30%; */
    }

    .card {
        max-width: 413px;
    }
}
